<div class="row">
  <div class="col-md-12">
    <h1>Delete "<%= @note.title %>"</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>Are you sure you want to delete this note? This action <strong>cannot</strong> be reversed.</p>
    <form method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-default">Delete note</button>
    </form>
  </div>
</div>
